body
{
    font-size: 1rem;
}

#govLogo
{
    position: absolute;
    margin-left: 6rem;
}

.logoBar > p
{
    position: absolute;
    font-size: 1.0625rem;
    line-height: 1.125rem;
    margin-left: 12rem;
    margin-top: 2rem;
}

.logoBar > h1
{
    position: absolute;
    font-size: 1.5313rem;
    font-family: "Open Sans", sans-serif;
    margin-left: 12rem;
    margin-top: 3.2rem;
}

#MSMElogo
{
    float: right;
    margin-right: 12rem;
    margin-top: 1.5rem;
    width: 5.75rem;
    height: 5.25rem;
}


/*                          NAV BAR                        */
.navBar
{
    position: absolute;
    background-color: #2AACEA;
    height: 1.5rem;
    width: 94rem;
    padding-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 8rem;
}

.navBar > a
{
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

h1
{
    margin-left: 7rem;
    margin-top: 14rem;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5625rem;
    line-height: 2rem;
}

h3
{
    margin-left: 7rem;
    margin-top: 4rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;

}

p
{
    margin-left: 7rem;
    /* margin-top: 4rem; */
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
}

.eligibleDiv
{    
    position: absolute;
    top: 15.5rem;
    width: 80rem;
}

.eligibleList 
{
    font-size: 1.25rem;
    line-height: 3rem;
    margin-left: 20rem;
    margin-top: 2rem;
    text-align: center;
    color: black;
    text-decoration: none;
}

.eligibleList>a
{
    text-decoration: none;
    color: black;
}

.eligibleList>a:hover
{
    color: blue;
}



/*                              FOOTER                   */
.footer
{
    background-color: #2A2A2A;
    height: 10rem;
    width: 94rem;
    position: absolute;
    margin-top: 50rem;
    color: white;
}

.footer > h3
{
    margin-left: 43rem;
    margin-top: 5rem;
}